.hello {
  font-size: 85%;
  width:25%;
  height:3%;
  float:right;
} 


h1{
  font-size:45px;
}
h2
{
  font-size:30px;
  float:left;
  padding-left: 40px;
}
.search {
  width: 56%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 2px solid rgb(224, 210, 210);
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color:grey;
}

.searchButton {
  position: absolute;  
  width: 40px;
  height: 36px;
  border: 1px grey;
  background: rgb(231, 231, 231);
  text-align: center;
  color: #fff; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/ 
.wrap{
  width: 50%;
   top: 50%;
  float:right;
  transform: translate(30%, 20%);
}
div.a {
  /* width:5px; */
  height:25px;
  width:2%;
  background-color:yellow;
  /* -ms-transform: rotate(159deg) ; IE 9 */
  /* -webkit-transform: rotate(159deg); Safari 3-8 */
  transform:skewY(159deg);
  padding-left:130%;
}  

div.b {
  /* width: 0px; */
  height: 25px;
  width: 10%;
  background-color:red;
  /* -ms-transform: skewY(35deg); IE 9 */
  /* -webkit-transform: skewY(35deg); Safari 3-8 */
  transform: skewY(35deg);
  padding-left: 150%;
}
    
div.c {
 
  height:56px;
  /* width:-15%; */
  background-color:lightblue;
  /* -ms-transform: skewY(350deg); IE 9 */
  /* -webkit-transform: skewY(10deg); Safari 3-8 */
  transform: skewX(-10deg);
  transform: skewY(-60deg);
  padding-left: 110%;
  /* padding-top: 70%; */
}

.ok{
  height: 101px;
    width: 284px;
    padding: 5px 0px -1px 96px;
    margin: -42px 44px 16px 208px;
    overflow: hidden;

}
.total
{
  overflow: hidden;
}
