<div class="total">
<div class="row">
  <div class="col-sm-6">
      <h1>KRAMES</h1>
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Supply Fast</h3>
  </div>
  <div class="col-sm-6">
      <button class="button-small pure-button hello">Shop Our Catalogue</button>
   </div> 
</div>
<div class="row">  
    <div class="col-sm-6">
<div class="a">.</div>
<br>
<div class="b">.</div>
<br>
<div class="c">.</div>

    </div>  
    <div class="col-sm-6"> 
        <div class="wrap">
            <div class="search">   
              <input type="text" class="searchTerm" pla ceholder="Search">           
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div> 
   </div>
</div>
</div>