<div class="row">
<div class="col-sm-2">Home</div>
<div class="col-sm-2">About Us</div>
<div class="col-sm-2">Contact Us</div>
<div class="col-sm-2">Provider</div>
<div class="col-sm-2">Payout</div>
<div class="col-sm-2">Productions</div>
</div>