/* .shape {
    width:400px;
    margin:0 auto;
}
.top {
    height:0;
    border-width:0 0 100px 400px;
    border-style:solid;
    border-color:transparent #d71f55 #d71f55 transparent;
}
.bottom {
    height: 0px;
    background-color:#d71f55;
}

* html .top {
    filter:chroma(color=#123456);
    border-top-color:#123456;
    border-left-color:#123456;
} */