.container {
    position: relative;
    max-width: 1000px; /* Maximum width */
    max-height: 1000px;
   padding-left: 5%;
    margin: 0 auto; /* Center it */
  }
  
  .container .content {
    position: inherit; /* Position the background text */
    margin-left: 237px;

    bottom: 211px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(228, 109, 109, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 25%; /* Full width */
    padding-inline-end: 2em;
    height: 100%;
    /* padding: 20px; Some padding */
    align-content: right;
  }
  .button4 {border-radius: 12px;
color:black;}
  /* .w3-panel w3-card
  {
      height:300px;
      width: 50%;
  } */
  .w3-card
  {
      height:120px;
      max-width: 180px;
      margin: auto 0;
      border-radius: 12px;
  }
 .w3-green w3-hover-shadow w3-padding-64 w3-center
 {
     height:160px;
     max-width:250px;
     margin: auto 0;
     padding-left:15px;
     border-radius: 12px;
     
 }
 .fa-bug{
     font-size:15px;
 }
 .w3-grey
 {
     opacity: 0.2;
 }
