<br>
<div class="row ">
  <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-6 ">
        <div class="container mt-4">           
            <img src="../../assets/slide-2.jpg" alt="Notebook" style="width:50%;">
            <div class="content">
              <h1>Heading</h1>
              <p>Lorem ipsum..asdfghjklwert</p>
              <br><br><br>
              <button class="button button4">more</button>
            </div>
          </div> 
    </div>
    <div class="col-sm-6">
        <div class="container">
            <img src="../../assets/slide-2.jpg" alt="Notebook" style="width:50%;">
            <div class="content">
              <h1>Headinng</h1>
              <p>Lorem ipsum..asdfghjklwert</p>
              <br><br><br>
              <button class="button button4">more</button>
            </div>
          </div> 
    </div>
  </div> 
  <div class="row">
        <div class="col-sm-2">
               <div class="w3-panel w3-card"><p>
                 
                <i class="fa fa-bar-chart" style="font-size:36px"></i>
               </p></div>
        </div>
        <div class="col-sm-2">
                <div class="w3-panel w3-card">
                  <i class="fa fa-line-chart" style="font-size:36px"></i>
  
                </div>
        </div>
        <div class="col-sm-2">
               <div class="w3-panel w3-card">
                <i class="fa fa-bitcoin" style="font-size:36px"></i>

               </div> 
      </div>
      <div class="col-sm-2">
              <div class="w3-panel w3-card">
                <i class="fa fa-pie-chart" style="font-size:36px"></i>

              </div>
      </div>
      <div class="col-sm-2">
            <div class="w3-panel w3-card">
              <i class="fa fa-bitcoin" style="font-size:36px"></i>
  
            </div>
      </div>
      <div class="col-sm-2">
          <div class="w3-panel w3-card">
            <i class="fa fa-pie-chart" style="font-size:36px"></i>

          </div>
    </div>
</div>
<br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
<br><br>
<div class="row">
 
  <div class="col-md-4" >
      <header class="w3-container w3-grey">
        <h1>Header</h1>
      </header>
  
      <div class="w3-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
  
      <footer class="w3-container w3-grey">
        <h5>Footer</h5>
      </footer>
    </div>
    <div class="col-md-4" >
        <header class="w3-container w3-grey">
          <h1>Header</h1>
        </header>
    
        <div class="w3-container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    
        <footer class="w3-container w3-grey">
          <h5>Footer</h5>
        </footer>
      </div> 
      <div class="col-md-4">
          <header class="w3-container w3-grey">
            <h1>Header</h1>
          </header>
      
          <div class="w3-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
      
          <footer class="w3-container w3-grey">
            <h5>Footer</h5>
          </footer>
        </div>
</div>
