.carousel-inner
{
    max-width:110%;
    height:450px;
}
.item .content{
    position: absolute;
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(114, 111, 111, 0.5);
    color: #f1f1f1; 
    width: 90%; 
    height: 100%;
    
  } 
   .item {
    /* position: relative;
    max-width: 1000px; 
    max-height: 1000px; */
    margin: 26px 0px 0px -82px;
    max-width: 100%;
    height: 5000px;

}
  
.carousel-control
{

    height:100px;
    width:70px;
    overflow:auto;
    float:bottom;
    background-color: grey;
    transform: translate(0%,350%);
}
.hello
{
    margin-left: 1177px;
}