<div  class="row">


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        
          <div class="container">
              <img src="../../assets/cor1.jpg" alt="Los Angeles">
              <div class="content">
                <h1>Headinng</h1>
                <p>Lorem ipsum..</p>
              </div>
            </div> 
        
      </div>
  
      <div class="item">
          <div class="container">
              <img src="../../assets/cor2.JPG" alt="Chicago">
              <div class="content">
                <h1>Headinng</h1>
                <p>Lorem ipsum..</p>
              </div>
            </div> 
        
      </div>
  
      <div class="item">
          <div class="container">
              <img src="../../assets/cor3.jpg" alt="New York">
              <div class="content">
                <h1>Headinng</h1>
                <p>Lorem ipsum..</p>
              </div>
            </div> 
       
      </div>
      <div class="item">
          <div class="container">
              <img src="../../assets/cor4.jpg" alt="New York">
              <div class="content">
                <h1>Headinng</h1>
                <p>Lorem ipsum..</p>
              </div>
            </div> 
          
        </div>
        <div class="item">
            <div class="container">
                <img src="../../assets/DSC_1525.JPG" alt="New York">
                <div class="content">
                  <h1>Headinng</h1>
                  <p>Lorem ipsum..</p>
                </div>
              </div> 
            
          </div>
          <div class="hello">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="margin-left: 1179px;">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                 </a>
          </div>
        </div>
          <div class="bye">
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

    </div>

  </div>
