<div class="row">
    <div class="pure-button-group" role="group" aria-label ="...">
      <button class="pure-button">Payor</button>
      <button class="pure-button">Provider</button>
      <button class="pure-button ">Productions & Solutions</button>
      <button class="pure-button">About Us</button>
      <button class="pure-button">Contact Us</button>
 </div></div>z